h2{
    color: green;
}

p{
    color: rgb(136, 0, 255);
}
button{
    color: green;
    background-color:white;
}
body{
    background-color:rgb(3, 252, 202);
}
h3{
    color:rgb(0,255,0);
}
h4{
    color:rgb(0,0,255);
}